src/Huffman/__pycache__
test_file_decoded.txt
src/Huffman/tests/__pycache__/
text_file.txt
test_file_hm.bin
text_file_hm.bin
text_file_hm.txt
htmlcov/
.coverage
__pycache__
text_files/
performance_test.py
text_file_decoded.txt
text_file_lzw.bin
text_file_lzw.txt
tyhja_decoded.txt
tyhja_hm.bin
tyhja_lzw.bin
tyhja.txt
one_char_decoded.txt
one_char_hm.bin
one_char_lzw.bin